/*
Sticky plugin
*/
.sticky-list {
    margin: 0;
    padding: 0;
    position: relative;
}
.sticky-list li {
    display:inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
    transition: opacity 1s ease
}

.sticky-list li p {
    margin: 0;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto
}

.sticky-list a:hover {
    opacity:0.7
}

.sticky-goto{cursor:pointer}
.sticky-goto:hover{opacity:0.7}